body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#mainDiv {
  background-image: url(/assets/img/photo.png);
  background-size: cover;
  padding: 240px;
  margin: -10px;
}

a {
  text-decoration: none;
  color: #ddd;
}

/* HEADER */
.header {
  width: 100vw;
  height: auto;
  position: sticky;
  display: flexbox;
  text-decoration: none;
  background-color: #000000;
}

.upper-header {
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.header-logo {

  display: inline-block;
  margin: 0 auto;

}

.header-logo img {
  width: 10rem;
  height: 2rem;
  vertical-align: bottom;

}

.header-searchbox {
  display: inline-block;
  text-align: right;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.header-nav {
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header-nav li {
  display: inline;
}

.header-nav a {
  display: inline-block;
  padding: 10px;
}

.header-nav a:hover {
  background-color: #ddd;
  color: black;
}

/* HEADER END */

#middleSection {
  background-color: aliceblue;
  height: 10%;
  padding-top: 15%;
}

.card1 {
  position: relative;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.card2 {
  position: relative;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.card3 {
  position: relative;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.card4 {
  position: relative;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

/* Signup page css */
h5 {
  margin: 30px;
}

input[type=text],
input[type=password] {
  width: 320px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  box-shadow: none;
}

.submitbtn {
  background-color: #e8e8e8;
  width: 350px;
  font: 16px;
  color: #000000;
  padding: 16px;
  border: thin;
  cursor: pointer;
  opacity: 0.9;
}

.register {
  margin: 60px;
  padding-left: 300px;
  height: 100px;
  background-image: url(/assets/img/main-background.jpg);
  background-size: cover;
}

.login {
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/img/main-background.jpg);
  background-size: cover;
  color: #ddd;
}

.login-container {
  margin: auto;
  width: 50%;
  padding: 10px;

}

.login-form {
  padding: 10rem;
  height: 100%;
  width: 40rem;
}

.login-container_text {
  display: inline-block;
}

.login-form h1 {
  display: inline;
  padding: auto 2rem;
}

.login a {
  color: #ffffff;
  display: inline-block;
  padding: 2px 0 2px 0;
}

.login a:hover {
  color: #e3e3e3;
}